<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../sueldos/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="../../sueldos/css/font-awesome.min.css" -->
    <link rel="stylesheet" href="../../sueldos/css/fontawesome-all.css">
    <link rel="stylesheet" href="../../sueldos/css/dataTables.bootstrap4.min.css">

    <title>Consulta a la bandeja de sueldos</title>

    <link href="../../sueldos/consulta_bandeja.css" rel="stylesheet">

  </head>
  <body>

    <div id="maindiv" class="container-fluid">
      <div class="row">
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	  <div class="sidebar-sticky">

	    <ul class="nav flex-column">
[% FOREACH dir IN opciones -%]
  [% IF dir.titulo -%]
	      <li class="nav-item nav-folder">
	        <b>[% dir.titulo %]</b>

	        <ul class="nav flex-column ml-3">
    [% FOREACH opc IN dir.items -%]
      [% IF opc.titulo -%]
	           <li class="nav-item">
	             <a class="nav-link[% IF opc.opcion==opcion %] active[% END %]" href="?opcion=[% opc.opcion %][% IF cedula %]&cedula=[% cedula %][% END %]" blur="1">
	               <span class="[% opc.icono %] feather"></span>
	               [% opc.titulo %]
	             </a>
	           </li>
      [%- END %]
    [%- END %]
	        </ul>
	      </li>
  [%- END %]
[%- END %]
	    </ul>
	  </div>
	</nav>

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mb-3">

	  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	    <h1 class="h2">[% titulo %]</h1>
	  </div>

[% IF buscador_cedulas %]
	  <form class="form-inline mb-5">
	      <input type="hidden" name="opcion" value="[% opcion %]">
	      <label for="cedula" class="mr-3">Número de cédula:</label>
	      <div class="input-group">
		<div class="input-group">
		  <input type="cedula" class="form-control" id="cedula" aria-describedby="cedulaHelp" placeholder="12345678" name="cedula" value="[% cedula %]">
		  <div class="input-group-append">
		    <button type="submit" class="btn btn-primary"><span class="fas fa-search" aria-hidden="true"></span></button>
		  </div>
		</div>
	      </div>

	      <small id="cedulaHelp" class="form-text text-muted ml-3"></small>

	  [% IF cedula %]<label>[% IF nombre %][% nombre %][% ELSE %]¿Número de cédula incorrecto?[% END %]</label>[% END %]
	  </form>
[% END %]

[% IF js %]
	  <div class="card mb-3 border-light" style="min-width:46rem">
    [% IF subtitulo %]
	    <div class="card-header">
	      [% subtitulo %]
	    </div>
    [% END %]

	    <div id="datatable" class="mt-5">
	      <table id="maintable" class="display table stripe py-3 my-3" style="width:100%">
	        <thead></thead>
	        <tbody></tbody>
	      </table>
	    </div>
	  </div>
[% ELSIF hay_resultado %]
	  <p>No se encontraron registros</p>
[% END %]

[% BLOCK block_resumen_posesiones %]
	  <div class="card mb-3">
	    <div class="card-header">
	      Resumen de la tabla anterior: cantidad de horas según ciclo de pago
	    </div>
	    <div class="my-1 mx-3">
	      <table id="resumen_posesiones" class="table table-bordered pt-3 mt-3" style="width:100%">
	        <thead><tr><th>Ciclo 0</th><th>Ciclo 1</th><th>Ciclo 2</th><th>Ciclo 3</th><th>Ciclo 4</th><th>Ciclo 5</th><th>Total</th></tr></thead>
	        <tbody><tr><td>[% c0 %]</td><td>[% c1 %]</td><td>[% c2 %]</td><td>[% c3 %]</td><td>[% c4 %]</td><td>[% c5 %]</td><td>[% total %]</td></tr></tbody>
	      </table>
	    </div>
	  </div>
[% END %][% resumen_posesiones %]

[% IF horas_por_periodo and ! horas_por_periodo.match('ERROR')  %]
	  <div id="chart_div" style="width: 900px; height: 500px;"></div>
[% ELSE %]
	  <p>[% horas_por_periodo %]</p>
[% END %]

[% IF btn %]
	  <button type="button" class="btn [% btn_class %][% IF js %] delayed[% END %]" onClick="javascript:[% modal_opcion %]('[% bandeja %]','[% cedula %]')">[% btn %]</button>
[% END %]
	</main>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="myModalBody"></div>
	    <div id="modal_message" class="alert alert-danger mt-3" style="display:none" role="alert"></div>
	    <div id="modal_info" class="alert alert-info mt-3" style="display:none" role="info"></div>
	    <div class="progress mt-3" id="progress" style="display:none">
	      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	    <button type="button" class="btn btn-primary" id="modal_submit" data-loading-text="" data-cedula="" data-opcion=""></button>
          </div>
        </div>
      </div>
    </div>

    <!-- spinner -->
    <div class="spinner" id="spinner" style="display:none">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../sueldos/js/jquery-3.3.1.min.js"></script>
    <script src="../../sueldos/js/popper.min.js"></script>
    <script src="../../sueldos/js/bootstrap.min.js"></script>
    <script src="../../sueldos/js/jquery.dataTables.min.js"></script>
    <script src="../../sueldos/js/dataTables.bootstrap4.min.js"></script>

[% IF js %]
    <script type="text/javascript">
      var head;
      var body;
      $(document).ready(function () {
[% js %]
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
	$('#maintable').DataTable({
	  data: body,
	  columns: head,
	  lengthMenu: [ 25, 50, 75, 100 ],
	  language: {
	        search: "Filtrar por:",
	        info: "Mostrando de _START_ a _END_ de _TOTAL_ filas",
	        infoFiltered: "(filtradas de _MAX_ filas en total)",
	        lengthMenu: "Mostrar _MENU_ registros",
	        paginate: {
	              previous: "Anterior",
	              next: "Siguiente",
	        },
	  },
	  fixedHeader: { header: true, },
	  [% data_table_options %]
	});
      });
    </script>
[% END %]

[% IF horas_por_periodo and ! horas_por_periodo.match('ERROR') %]
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
	var data = google.visualization.arrayToDataTable([
	  ['Período', 'Coordinación', 'Total de horas', 'Reserva'],
[% FOREACH row IN horas_por_periodo -%]
	  [%- desde = row.0.split('-') ; hasta = row.1.split('-') -%]
	  ['[% desde.2 %]/[% desde.1 %] al [% hasta.2%]/[% hasta.1 %]', [% row.4 %], [% row.2 %], [% row.3 %]],
[% END %]
	]);

	var options = {
	  title: 'Cantidad de horas por período',
	  vAxis: { title: 'horas' },
	  hAxis: { textStyle : { fontSize: 12 } },
	  isStacked: true,
	};

	var chart = new google.visualization.SteppedAreaChart(document.getElementById('chart_div'));

	chart.draw(data, options);
      }
    </script>
[% END %]
    <script type="text/javascript">
	$('#modal_submit').on('click', function() {
	    var $this = $(this);
	    $this.attr('disabled',true);
	    $this.attr('txt-backup', $this.html());
	    $this.html( $this.attr('data-loading-text') );
	    $('#modal_info').text('');
	    $('#modal_message').text('');
	    $('#progress .progress-bar').attr('aria-valuenow','0');
	    $('#progress .progress-bar').css('width','0');
	    $('#progress').show();
	    var myTimer = setInterval(function() {
		var v = parseFloat($('#progress .progress-bar').attr('aria-valuenow')) + 0.1;
		if (v<95) {
			$('#progress .progress-bar').attr('aria-valuenow', v);
			$('#progress .progress-bar').css('width', v+'%');
		}
	    }, 100);

	    $.get('?', {bandeja:$this.attr('data-bandeja'),cedula:$this.attr('data-cedula'),opcion:$this.attr('data-opcion')}
	    ).done(function(data) {
	       clearInterval(myTimer);
	       $this.html( $this.attr('txt-backup') );
	       $('#progress .progress-bar').attr('aria-valuenow','100');
	       $('#progress .progress-bar').css('width','100%');

	       if (data.error !== "") {
		 $('#modal_info').text(data.salida).show();
	         $('#modal_message').text(data.error).show();
	         $('#myModal').on('hidden.bs.modal', function () {
	           location.reload();
	         });

	       } else {
	         // Espero a que terminen las animaciones y recargo la página
	         $(":animated").promise().done(function() {
	           location.reload();
	         });
	       }

	    }).fail(function() {
	       $this.html( $this.attr('txt-backup') );
	       $('#modal_message').text('Error al procesar la respuesta del servidor').show();
	       $('#myModal').on('hidden.bs.modal', function () {
	         location.reload();
	       });
	    });
	});
	function modal(modal_title, modal_body, modal_processing, bandeja, cedula, modal_opcion, modal_button) {
		$('#myModal #myModalLabel').html(modal_title);
		$('#myModal #myModalBody').html(modal_body);
		$('#myModal #modal_submit').attr('data-loading-text', modal_processing);
		$('#myModal #modal_submit').attr('data-bandeja', bandeja);
		$('#myModal #modal_submit').attr('data-cedula', cedula);
		$('#myModal #modal_submit').attr('data-opcion', modal_opcion);
		$('#myModal #modal_submit').html(modal_button);
		$("#myModal").modal()
	}
	function cargar(bandeja,nombre) {
		modal(nombre+" - Crear período y liquidar","Esta operación va a crear un nuevo período de liquidación hasta el día de hoy y luego hace la liquidación correspondiente","Reliquidando",bandeja,"","cargar","Crear período y liquidar ("+bandeja+")");
	}
	function reliquidar(bandeja,cedula) {
		modal("Reliquidar", "Esta operación va a generar una nueva liquidación para este docente", "Reliquidando", bandeja, cedula, "reliquidar", "Reliquidar");
	}
	function borrar(bandeja,cedula) {
		modal("Borrar pendientes", "Esta operación va a borrar la liquidación pendiente para este docente", "Borrando", bandeja, cedula, "borrar", "Borrar");
	}
        $('div.sidebar-sticky').scrollTop( $('li:has(ul > li > a.nav-link.active)').offset().top );
	$('a[blur]').click(function(evnt){
		if (!(evnt.ctrlKey || evnt.shiftKey || evnt.metaKey || (evnt.button && evnt.button == 1))) {
			setTimeout(function(){
				$('#maindiv').css('filter','blur(2px)');
				$('#spinner').show();
			}, 1500);
		}
	});
    </script>
  </body>
</html>
